.pembungkus-artikel-main{
  border-top: 5px solid blue;
  border-radius: 10px;
}
.style-artikel{
  margin: 30px 10px 10px 10px;
}
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  margin-left: 0px;
}
h1{
  padding-top: 10px;
  margin-left: 20px;
}
.img-overlay{
  margin: 15px;
}

.blog-card a {
  color: inherit;
  
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.blog-card .details a {
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: 'Font Awesome 5 Free';
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f46d";
  margin-right: 10px;
  font-weight: 550;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #0077FF;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f101";
  font-family:'Font Awesome 5 Free';
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
  font-weight: 600;
  color: #0077FF;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #0077FF;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}

.kategori-list-article:hover {
  color: #0d6efd;
  cursor: pointer;
}

.kategori-list-article-active {
  color: #0d6efd !important;
  cursor: no-drop !important;
  font-weight: 800 !important;
}


/* css untuk artikel terbaru */

.post-list .post {
  clear: both;
  overflow: auto;
  margin-bottom: 10px;
}

.post-list .post .left {
  float: left;
  display: inline-block;
}

.post-list .post .right {
  float: left;
  display: inline-block;
  padding: 10px;
}

.post-list .post .right .title {
  font-weight: bold;
}

.post-list .post .right p {
  color: rgb(116, 116, 116);
  font-size: 14px;
}

.post-list .post .right .readmore {
  font-style: italic;
  color: #AAA;
  font-size: 14px;
}
.style-img-popular{
  width: 210px;
  transition: transform .2s;
  border-radius: 3px;
}
.style-img-popular:hover {
 transform: scale(1.1)
}

.style-intro{
  height: 100%;
}

/* css cari */
.pembungkus-search{
  background-color: white;
  height: 70px;
  border-radius: 10px;
  border-top: 5px solid blue;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 75%;
}
.main {
  width: 50%;
  transform: translateY(35%);
  margin-left: auto;
  margin-right: auto; 
   
}

.has-search .form-control {
  padding-left: 2.375rem;
  width: 100% !important;
  border-radius: 15px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  
}
@media screen and (max-width: 767px) {
   .pembungkus-search {
    width: 100%;
  }
}

/* css untuk kategori */
.list-item-mui {
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgba(126, 125, 125, 0.068);
}
.row-populer{
  margin-top: 50px !important;
}
